{% extends 'base.html' %}
{% block content %}
<div class="module-view">
    <h2>Modifica Dati Personali: {{ dip.nome }} {{ dip.cognome }}</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.nome.label(class="form-label") }}
                {{ form.nome(class="form-control") }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.cognome.label(class="form-label") }}
                {{ form.cognome(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                {{ form.data_nascita.label(class="form-label") }}
                {{ form.data_nascita(class="form-control", type="date") }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form.luogo_nascita.label(class="form-label") }}
                {{ form.luogo_nascita(class="form-control") }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form.provincia_nascita.label(class="form-label") }}
                {{ form.provincia_nascita(class="form-control") }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                {{ form.codice_fiscale.label(class="form-label") }}
                {{ form.codice_fiscale(class="form-control") }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form.telefono.label(class="form-label") }}
                {{ form.telefono(class="form-control") }}
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-3">Salva</button>
        <a href="{{ url_for('modulo8.profilo_dipendente', id=dip.id) }}" class="btn btn-secondary mt-3">Annulla</a>
    </form>
</div>
{% endblock %} 